{% extends 'base.html.twig' %}

{% block title %}New Fainaliste{% endblock %}

{% block body %}
    <h1>Create new Fainaliste</h1>

    {{ include('backend_finaliste/_form.html.twig') }}

    <a href="{{ path('app_backend_finaliste_index') }}">back to list</a>
{% endblock %}
