{% extends 'election_layout.html.twig' %}

{% block body %}
    <div class="main-text">
        <h2 class="question" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
            Oups!!!
        </h2>
        <h3 class="erreur">
            Votre appareil n'est pas autorisé à se connecter à cette plateforme. <br>
            Merci de contacter les administrateur
        </h3>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

