<form class="d-flex recherche" role="search" method="post" action="{{ path('app_recherche') }}">
    <div class="input-group">
        <input type="text" class="form-control" name="_recherche" list="listeFamille" placeholder="Rechercher la famille" aria-label="Rechercher la famille" aria-describedby="button-addon2" onchange="submit()">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <datalist id="listeFamille">
        {% for famille in familles %}
            <option value="{{ famille.nom }}"></option>
        {% endfor %}
    </datalist>
</form>