<form method="post" action="{{ path('app_backend_candidat_delete', {'id': candidat.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce candidat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ candidat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
