<form method="post" action="{{ path('app_backend_finale_delete', {'id': finale.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette finale?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ finale.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
