{% extends 'base.html.twig' %}

{% block title %}New Finale{% endblock %}

{% block body %}
    <h1>Create new Finale</h1>

    {{ include('backend_finale/_form.html.twig') }}

    <a href="{{ path('app_backend_finale_index') }}">back to list</a>
{% endblock %}
