<form method="post" action="{{ path('app_backend_famille_delete', {'id': famille.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette famille?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ famille.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
