<form method="post" action="{{ path('app_backend_scrutin_delete', {'id': scrutin.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce scrutin?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scrutin.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
